services:
  bisaya-ipsum:
    image: ghcr.io/jacocanete/bisaya-ipsum:latest
    container_name: bisaya-ipsum
    restart: unless-stopped
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=production
      - PORT=3002
